#web_bg {
    /* 背景图像的地址（url括号里）  */
    background: url('https://cdn.jsdelivr.net/npm/qxazusa-blog/5005df7fec55a8b4980d0426566114f8c64df94a-min.webp');
    /* 背景图像不重复 */
    background-repeat: no-repeat;
    /* 背景图像大小 */
    background-size: cover;
    /* 背景图像居中显示 */
    background-position: center;
}
