@font-face {
  font-family: "iconfont"; /* Project id 2673431 */
  src: url('//at.alicdn.com/t/font_2673431_lfuz8nvok.woff2?t=1627896044571') format('woff2'),
       url('//at.alicdn.com/t/font_2673431_lfuz8nvok.woff?t=1627896044571') format('woff'),
       url('//at.alicdn.com/t/font_2673431_lfuz8nvok.ttf?t=1627896044571') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huaban88:before {
    content: "\e61a";
    color: rgb(0,0,0);
    font-size: 25px;
    position: relative;
    top: 0.9px;
}

.icon-you-tube:before {
    content: "\e601";
    color: rgb(201, 31, 55);
    font-size: 25px;
    position: relative;
    top: 2px;
}

.icon-ttww:before {
    content: "\e600";
    color: rgb(18, 150, 219);
    font-size: 25px;
    position: relative;
    top: 2px;
}

.icon-bilibili-line:before {
    content: "\e66d";
    color: rgb(18, 150, 219);
    font-size: 25px;
    position: relative;
    top: 2px;
}

.icon-bilibili-linew:before {
    content: "\e66d";
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: relative;
    top: 2.1px;
}

.icon-rili:before {
    content: "\e624";
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.icon-xiaoxi:before {
    content: "\e740";
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.icon-Telegram:before {
    content: "\e6f2";
    color: rgb(18, 150, 219);
    font-size: 19px;
    position: relative;
    top: -1px;
}

.icon-A-29:before {
    content: "\e619";
    color: rgb(0,0,0);
    font-size: 14.5px;
    left: 2px;
}

.icon-yinyue:before {
  content: "\e603";
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: relative;
    top: 2px;
}

.icon-biaoqian1:before {
  content: "\e621";
  color: rgb(0, 0, 0);
  font-size: 15.5px;
  position: relative;
  top: 1px;
}

.icon-xiangce:before {
  content: "\e628";
  color: rgb(0, 0, 0);
  font-size: 16px;
  position: relative;
  top: -1px;
}

.icon-xin:before {
  content: "\e639";
  color: rgb(0, 0, 0);
  font-size: 15px;
  position: relative;
  top: 0.4px;
}

.icon-icon:before {
  content: "\e60d";
  color: rgb(0, 0, 0);
  font-size: 16px;
  position: relative;
  top: 0.5px;
}

.icon-xiangce1:before {
  content: "\ea8e";
  color: rgb(0, 0, 0);
  font-size: 18px;
  position: relative;
  left: -1.5px;
  top: 0.5px;
}
